<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarepointTMDT"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.OrderDetailActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="orderdetail" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.CheckoutActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="carepoint" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MedicineListActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MedicineHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.DetailMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.EditInformationActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.ActivityPurchaseOrder"
            android:exported="false" />
        <activity
            android:name=".view.activity.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.OnboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://284291112176175:NUpmLxYOTcO26FKDEz1ECbrmk_8@carepointstorage" />
    </application>

</manifest>